*{
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  width:100%;
  height:100vh;
  background:#BBF1F1;
  position:relative;
  overflow:hidden;
}